#!/bin/bash

if ls --color > /dev/null 2>&1; then
	colorflag="--color"
else
	colorflag="-G"
fi

# shellcheck disable=SC2139
alias ll="ls -lhF $colorflag"

# shellcheck disable=SC2139
alias la="ls -lhaF $colorflag"

# shellcheck disable=SC2139
alias lsd="ls -lhF $colorflag | grep --color=never '^d'"

# shellcheck disable=SC2139
alias ls="command ls $colorflag"

alias grep="grep --color=auto"

alias untar="tar -xvf"

alias bssh="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias bscp="scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"

if hash nvim 2>/dev/null; then
	alias vim="nvim"
fi

if hash podman 2>/dev/null && ! hash docker 2>/dev/null; then
	alias docker="podman"
fi
