#!/usr/bin/env bash

# side-by-side diff, use delta if available
dif() {
	if has delta; then
		delta -s --light "$@"
	else
		diff -y --width="$COLUMNS" "$@" | less -FRNX
	fi
}

# make a dir and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}

# make a temp dir and enter it
tmpd() {
	local dir
	if [ "$#" -eq 0 ]; then
		dir=$(mktemp -d)
	else
		dir=$(mktemp -d -t "${1}.XXXXXXXXXX")
	fi
	cd "$dir" || exit
}

# create a .tar.gz archive using `zopfli`, `pigz`, or `gzip` for compression
targz() {
	local tmpfile="${1%/}.tar"
	tar -cvf "$tmpfile" --exclude=".DS_store" "${1}" || return 1

	size=$(stat -c"%s" "${tmpfile}")

	local cmd
	if (( size < 52428800 )) && has zopfli; then
		# use `zopfli` if the .tar file is smaller then 50MB and zopfli is available
		cmd="zopfli"
	else
		if has pigz; then
			cmd="pigz"
		else
			cmd="gzip"
		fi
	fi

	echo "Compressing .tar using \`${cmd}\`..."
	"$cmd" -v "$tmpfile" || return 1
	[ -f "$tmpfile" ] && rm "$tmpfile"
	echo "${tmpfile}.gz created successfully"
}

# tree, ignore `.git` and pipe to `less` with preserved colors
tre() {
	tree -aC -I '.git' --dirsfirst "$@" | less -FRX
}

# open a twitch stream using `streamlink` because I fucking hate ads
twitch() {
	local channel="$1"
	streamlink --player mpv twitch.tv/"$channel" best
}

# rg with a pager
rg() {
	command rg -p "$@" | less -FRX
}
