[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	df = diff
	lg = log --oneline -n 20 --graph --abbrev-commit
	sw = switch
	undo = !git reset HEAD~1 --mixed
	amend = !git commit --amend --no-edit

[color]
	ui = auto

[core]
	editor = $EDITOR
	excludesFile = ~/.gitignore

[commit]
	gpgSign = true

[gpg]
	format = ssh

[init]
	defaultBranch = main

[pull]
	rebase = true
	default = current

[push]
	default = current

[user]
	name = ***REMOVED***
	email = sc@shinomin.me
	signingKey = ~/.ssh/id_ed25519.pub

[include]
	path = ~/.gitconfig.inc
