[user]
	name = ***REMOVED***
	email = sc@shinomin.me

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	df = diff
	lg = log --oneline -n 20 --graph --abbrev-commit

[color]
	ui = auto

[core]
	excludesFile = ~/.gitignore

[commit]
	gpgSign = true

[pull]
	rebase = true

[push]
	default = nothing

[init]
	defaultBranch = main

[github]
	user = shinomineko

[url "git@github.com:shinomineko/"]
	insteadOf = "https://github.com/shinomineko/"

[url "git@gitlab.com:shinomineko/"]
	insteadOf = "https://gitlab.com/shinomineko/"

[includeIf "gitdir:~/src/work/"]
	path = ~/src/work/git/config
